
/* Base styles */
.home-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.suggestions {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.filter-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.filter-container select {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
}

/* Movies list */
.movies-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); 
  gap: 50px;
  margin: 10px 0;
  margin-bottom: 40px;
}

.movie-item {
  background-color: #9bb4b3;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.3s;
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item img {
  height: auto; 
  width: 100%;
  object-fit: cover;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.pagination button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Responsive styles */

/* Medium devices (tablets, small desktops) */
@media (max-width: 1025px) {
  .search-input,
  .suggestions,
  .filter-container select {
      max-width: 350px; 
  }

  .movies-list {
      grid-template-columns: repeat(3, 1fr); 
      gap: 25px; 
  }

  .filter-container {
      gap: 8px; 
  }
}

/* Small devices (phones) */
@media (max-width: 768px) {
  .search-input,
  .suggestions,
  .filter-container select {
      max-width: 300px; 
  }

  .movies-list {
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px; 
  }

  .filter-container {
      gap: 8px; 
  }
}

/* Extra small devices (phones) */
@media (max-width: 480px) {
  .search-input,
  .suggestions,
  .filter-container select {
      max-width: 90%; 
  }

  .movies-list {
      grid-template-columns: 1fr; 
      gap: 20px; 
  }

  .movie-item {
      width: 100%; 
  }

  .filter-container {
      flex-direction: column; 
      align-items: center; 
  }

  .pagination button {
      padding: 8px; 
      font-size: 14px; 
  }
}

